h1 {font-family: cursive; color: #DD577A}
#banner {
    background:url(http://wallpapersonthe.net/wallpapers/b/2560x1080/2560x1080-abstract_polyscape_photo_manipulation-3232.jpg);
   width:10000%;
    min-height:800px; background-repeat: no-repeat;
   }
   body {background-color: #FFF0CF;
  background-repeat:repeat;
}

        p lang(ko) { }
    h1:hover {
    color: 	#000066;
}
h1:visited {
    color:  #00FFFF;
}
a:link { text-decoration: none}
ul { position: fixed;
    top: 0;
    width: 100%; color:#808080 }
  li { display: inline;}
  .bar li:hover { color: #A21406; }