h1 {font-family: cursive; color: #A21406; }
#banner {
    background:url();
    width:10000%;
    min-height:600px; background-repeat: no-repeat;
   }
   body {background-image: url(https://i.ytimg.com/vi/INKShd86i1o/maxresdefault.jpg);
  background-repeat:repeat;
}
html {background-color: #9BF0E9;}
        p lang(ko) { }
    h1:hover {
    color: 	#00008B;
}
h1:visited {
    color:  #00FFFF;
}
a:link { text-decoration: none}
ul { position: fixed;
    top: 0;
    width: 100%; color:#808080 }
  li { display: inline;}
  .bar li:hover { color: #A21406; }